Repository WalterAlvar/separation-of-concerns-starter, pull requests merged in 2021-08, with the labels that each got.

#7 basic ui setup
  client/styles/other-file.css
  index.html
Labels: css

#9 add item JS files
  client/src/handlers/add-item.js
  client/src/init/index.js
  client/src/listeners/add-button-listener.js
  index.html
Labels: js

#11 Html & Css/ first Draft
  client/src/handlers/add-item.js
  client/styles/index.css
  client/styles/other-file.css
  index.html
  package-lock.json
Labels: css, html

#12 added development strategy and added section to html
  client/src/handlers/add-item.js
  client/styles/index.css
  index.html
  planning/development-strategy.md
Labels: planning, development strategy

#14 Add Night mode function
  client/src/handlers/nightmode.js
  client/src/init/index.js
  client/src/listeners/nightmode-listener.js
  client/styles/index.css
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  index.html
  planning/README.md
Labels: js, css, UI, html

#18 remove items
  client/src/handlers/add-item.js
  client/src/handlers/remove-item.js
  client/src/init/index.js
  client/src/listeners/remove-button-listener.js
Labels: js, delete

#17 modified Clear-List and Add-Item
  client/src/handlers/clear-list.js
Labels: js

#20 added margin for checkbox
  client/styles/index.css
Labels: css

#22 validation is added for empty entry and length
  client/src/handlers/add-item.js
Labels: enhancement, handler, add

#30 Animations
  client/src/handlers/add-item.js
  client/src/handlers/nightmode.js
  client/styles/index.css
Labels: css

#31 added edit functionality
  client/src/handlers/add-item.js
  client/src/handlers/edit-item.js
  client/src/handlers/remove-item.js
  client/src/init/index.js
  client/src/listeners/edit-button-listener.js
  client/styles/index.css
Labels: Edit, handler, listener

#32 updated development strategy
  planning/development-strategy.md
Labels: planning

#34 bug fix for edit and remove functionalities
  client/src/handlers/edit-item.js
  client/src/handlers/remove-item.js
Labels: enhancement

#35 comments are modified
  client/src/handlers/add-item.js
  client/src/handlers/edit-item.js
  client/src/handlers/remove-item.js
Labels: enhancement
